/* General styles */
:root {
  --netflix-main-red: #e50914;
  --netflix-dark-red: #b20710;
  --text-color-white: #ffffff;
  --backGround-black: #000;
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--text-color-white);
  background-color: var(--backGround-black);
  overflow-x: hidden;
}

a {
  display: inline-block;
  text-decoration: none;
  color: var(--text-color-white);
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 500;
}

ul li {
  list-style: none;
}

img {
  width: 100%;
}

.container {
  width: 80%;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

.navbar {
  padding: 3.6rem 2.4rem 15rem;
  position: relative;
  z-index: 1;
}
.logo {
  display: inline-block;
  width: 14%;
}

/* overlay style */
.overlay {
  content: "";
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background-image: linear-gradient(
    7deg,
    rgba(0, 0, 0, 0.85) 10%,
    rgba(0, 0, 0, 0.8465) 17.25%,
    rgba(0, 0, 0, 0.8361) 24.5%,
    rgba(0, 0, 0, 0.8187) 31.75%,
    rgba(0, 0, 0, 0.7944) 39%,
    rgba(0, 0, 0, 0.7632) 46.25%,
    rgba(0, 0, 0, 0.725) 53.5%,
    rgba(0, 0, 0, 0.6868) 60.75%,
    rgba(0, 0, 0, 0.6556) 68%,
    rgba(0, 0, 0, 0.6312) 75.25%,
    rgba(0, 0, 0, 0.6139) 82.5%,
    rgba(0, 0, 0, 0.6035) 89.75%,
    rgba(0, 0, 0, 0.6) 97%
  );
  z-index: 0;
}

/* slider style */

.slider__section h2 {
  font-size: 2.4rem;
  font-weight: 500;
  padding-bottom: 1.5rem;
}
.slider-container {
  position: relative;
}

.slider {
  display: flex;
  gap: 1.6rem;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 1rem;
  position: relative;
  z-index: 1;
}
/* remove scroll bar */
.slider::-webkit-scrollbar {
  display: none;
}

.card {
  flex: 0 0 auto;
  width: 17%;
  background-color: #1f1f1f;
  border-radius: 1rem;
  overflow: hidden;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.05);
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.1);
  border: none;
  color: var(--text-color-white);
  font-size: 2rem;
  cursor: pointer;
  z-index: 1;
  padding: 1rem;
  border-radius: 9%;
}

.arrow:hover {
  background: rgba(255, 255, 255, 0.3);
}

.arrow.left {
  left: -5%;
}

.arrow.right {
  right: -5%;
}
