.bg__container {
  background-image: url(../img/netflext-bg.jpg);
  background-position: bottom;
  background-size: cover;
}

/* header navbar style */
.navbar {
  padding: 3.6rem 2.4rem 15rem;
  position: relative;
  z-index: 1;
}

.flex_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: inline-block;
  width: 14%;
}

.navbar__links a {
  padding: 0.4rem 1.6rem;
  border-radius: 0.4rem;
  background-color: var(--netflix-main-red);
  min-height: 3.2rem;
  line-height: 2.4rem;
  text-align: center;
  transition: background-color 0.3s ease-out;
}

.navbar__links a:hover,
.hero__content__btn:hover {
  background-color: var(--netflix-dark-red);
}

/* hero section styles */
.hero {
  padding: 0 3.2rem 3.2rem;
  position: relative;
  z-index: 1;
}
.hero__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__content h1 {
  width: 47%;
  text-align: center;
  font-size: 5.6rem;
  font-weight: 900;
  margin-bottom: 1.6rem;
  line-height: 125%;
}
.hero__content p {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 2.5rem;
}

.hero__content h3 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 2rem;
}

.hero__content__btn {
  display: flex;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 500;
  background-color: var(--netflix-main-red);
  border-radius: 0.4rem;
  padding: 1.2rem 2.4rem;
  width: 15%;
  transition: background-color 0.4s ease-out;
  margin-bottom: 2rem;
}
.hero__content__btn img {
  width: 15%;
}

/* border style */
.border__bg {
  position: relative;
  z-index: 1;
  border: solid 0.4rem transparent;
  border-bottom: none;
  margin-bottom: 4rem;
  border-image: linear-gradient(
      45deg,
      var(--netflix-main-red),
      rgba(184, 40, 105, 1),
      var(--netflix-main-red),
      rgba(184, 40, 105, 1)
    )
    1;
}

/* reasonsToJoin style */

.reasonsToJoin {
  padding-top: 10rem;
  padding-bottom: 5rem;
}

.reasonsToJoin h2 {
  font-size: 2.4rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}
.reasonsToJoin__cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.reasonsToJoin__cards__card {
  width: 24%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 2rem;
  border-radius: 1rem;
  background: linear-gradient(0deg, #2b0723 0%, #1c1b36 100%);
}

.reasonsToJoin__cards__card h3 {
  font-size: 2.4rem;
  font-weight: 500;
}

.reasonsToJoin__cards__card p {
  font-size: 1.6rem;
  font-weight: 400;
  color: #ffffffb3;
}

.reasonsToJoin__cards__card__img {
  width: 7.2rem;
  margin-left: auto;
}

/* footer styles */
.footer {
  padding: 5rem 0;
  background-color: #262626;
}

.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}
.footer__container p {
  font-size: 1.6rem;
  font-weight: 400;
}
.footer__links {
  display: flex;
  justify-content: center;
}
.footer__links li:not(:first-child) {
  margin-left: 5rem;
}
